/*ESTILO DEL MAIN INICIO*/
// Variables
$main-color: #138FA7;
$accent-color: #D16887;
$font-family: 'Verdana, Geneva, Tahoma, sans-serif';
$box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
$background-blur: rgba(255, 255, 255, 0.5);
$border-radius: 10px;

// Aplicar las variables en los estilos
#main {
    width: auto;
    min-height: 100vh;
    align-items: center;
}

#baner {
    width: 100%;
    height: 400px;
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#baner video {
    width: 1000px;
    height: 400px;
    object-fit: cover;
    align-items: center;
}

#main__resiliencia {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}

#resiliencia {
    width: 30%;
    align-items: center;
    height: auto;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 15px;
    border: none;
    border-radius: $border-radius;
    background: $background-blur;
    backdrop-filter: blur(10px);
    box-shadow: $box-shadow;
}

span {
    color: $accent-color;
}

#main__servicios {
    width: 30%;
    align-items: center;
    height: auto;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 20px;
    padding: 5px;
    border: none;
    border-radius: $border-radius;
    background: $background-blur;
    backdrop-filter: blur(10px);
    box-shadow: $box-shadow;
}

#main__servicios ul li {
    text-align: center;
    display: block;
    padding: 10px;
    flex-direction: column;
    text-decoration: underline;
    color: $main-color;
    font-family: $font-family;
    font-size: 15px;
}

h1 {
    color: $main-color;
    font-family: $font-family;
    font-size: 60px;
}

h2 {
    color: $main-color;
    font-size: 20px;
    font-family: $font-family;
    font-weight: bold;
}

.mollitiam__resiliencia {
    color: $main-color;
    font-size: 20px;
    font-family: $font-family;
}
