
@mixin fondo-con-sombra($color: rgba(19, 143, 167, 0.5), $sombra: 0 4px 8px rgba(0, 0, 0, 0.2)) {
    background-color: $color;
    box-shadow: $sombra;
    border-radius: 10px;
}

@mixin efecto-fondo {
    border: none;
    border-radius: 10px;
    background: #ffffff80;
    backdrop-filter: blur(10px);
    box-shadow: 0 8px 16px rgba(19,143, 167, 0.5);
    display: inline-block;
    padding: 20px;
}

